@media (min-width: 768px) {
    .nav-menu {
        justify-content: flex-start;
    }

    main {
        grid-template-columns: 2fr 1fr;
    }
    header span {
        font-size: 4rem;
        font-family: "Kanit", serif;
    }
    .current-weather img {
        max-width: 120px;
    }

    .card ul {
        padding: 0 2rem;
    }
    li {
        font-size: 1rem;
    }
    #nav-links {
    display: flex; /* Alinear elementos en fila */
    flex-direction: row;
    position: static; /* Restablecer posición */
    justify-content: center; /* Alinea el menú al lado derecho */
    gap: 3rem; /* Espaciado entre los enlaces */
    background-color: transparent; /* Sin fondo */
    box-shadow: none; /* Sin sombra */
    padding: 0;
    list-style-type: none;
    list-style: none;
    }
    nav{
        text-align: center;

    }
}
