@media (min-width: 750px){
    /*INDEX: Contenedor del weather*/
.event-weather-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 50px;
        margin-top: 40px;
}
/*INDEX: BOTON de menu */
#menuToggle {
        display: none;        
}
.menuLinks li a {
    color:var(--light-gray);
  }
.menuLinks li a:hover {
    color: var(--background-color);
    box-shadow: 0 2px 2px var(--shadow-medium);
  }
.menuLinks {
    display: flex; /* Alinear elementos en fila */
    flex-direction: row;
    position: static; /* Restablecer posición */
    justify-content: flex-end; /* Alinea el menú al lado derecho */
    gap: 3rem; /* Espaciado entre los enlaces */
    background-color: transparent; /* Sin fondo */
    box-shadow: none; /* Sin sombra */
    padding: 0;
}
.menuLinks a {
    color: var(--background-color);
    font-weight: bold; /* Sin negrita para un diseño más limpio */
    padding: 1rem;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 0.3s ease,
 }
 .active {
    border-bottom: 3px solid var(--border-color);
}
/* calendario*/
.calendar-container {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    width: 10%;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--medium-gray);
}
.sidebar {
    padding: 15px;
}
.sidebar section {
    margin-bottom: 1rem;
}
.sidebar h3 {
    font-size: 2rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}
/* DISCOVER : GALLERY*/
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre imágenes */
    justify-items: center;
}
.gallery figure {
    text-align: center;
    max-width: 100%;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Opcional, para esquinas redondeadas */
}
.join {
    max-width: 900px; /* Controla el ancho del contenido */
    margin: 2rem auto; /* Centra el contenido horizontalmente */
    padding: 50px; /* Espaciado interno */
    text-align: center; /* Asegura que el texto esté centrado */
    border-radius: 8px;
}
.card h4 {
    font-size: 1.5rem;
    color: #2c3e50;
  }
.membership-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin: 30px 0;
    padding: 0 20px;
  }
  .card button {
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  /*-------DIRECTORY----*/
.directory {
    background-color: var(--dark-gray);
    padding: 2rem;
    margin: 1rem;
  }
  #cards {
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 10px 10px 10px rgba(0,0,0,0.2);
    background-color: var(--dark-gray);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  /* Vista Grid para pantallas grandes */
  #cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem;
    border-radius: 10px;
  }
  .grid section {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--otro-color);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: var(--background-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .grid section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  .grid img {
    max-width: 60%;
    border-radius: 50%;
    border: 3px solid var(--border-color);
  }
  #cards.list {
    display: flex;/*RECUERDA: flex es la mejor forma para organizar el contenido en una filo O columna */
    flex-direction: column; /*Dedinimos la direccion principal que sera una columna, uno debajo del otro*/
    gap: 0.5rem; /* Espaciado entre elementos */
    padding: 3rem;
  }
  #cards.list .card {
    width: 100%;
    margin-bottom: 10px;
    }
.list section {
    display: flex;/* Flexbox para organizar los contenidos */
        /*Esto permite que los elementos dentro de la tarjeta (por ejemplo, la imagen, el nombre,
         la dirección) se alineen en una fila horizontal.*/
    align-content:center ;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem; /* Espaciado entre elementos */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 253, 253, 0.2); /* Sombra ligera */
    }
  
  .list section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(255, 254, 254, 0.3);
  }
  .list img {
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}
  .list a {
    text-decoration: none;
    font-weight: bold;
    color: var(--button-hover-blue);
    transition: color 0.3s ease;
  }
  
  .list p {
    font-size: 0.9rem;
    margin: 0;
  }
  /* Controles de vista */
  .view-controls {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .view-controls button {
    padding: 0.8rem 1.2rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: var(--dark-gray);
    color: var(--accent-color);
    border: 2px solid var(--today-yellow);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .view-controls button:hover {
    background-color: var(--accent-color);
    color: var(--dark-gray);
  }
  
}