@media (min-width: 768px){
    /*INDEX: Contenedor del weather*/
.event-weather-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 50px;
        margin-top: 40px;
}
/*INDEX: BOTON de menu */
#menuToggle {
        display: none;        
}
.menuLinks {
    display: flex; /* Alinear elementos en fila */
    flex-direction: row;
    position: static; /* Restablecer posición */
    justify-content: flex-end; /* Alinea el menú al lado derecho */
    gap: 3rem; /* Espaciado entre los enlaces */
    background-color: transparent; /* Sin fondo */
    box-shadow: none; /* Sin sombra */
    padding: 0;
}
.menuLinks a {
    color: var(--background-color);
    font-weight: bold; /* Sin negrita para un diseño más limpio */
    padding: 1rem;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 0.2s ease,
 }
 .active {
    border-bottom: 2px solid var(--medium-gray);
}

/* calendario*/
.calendar-container {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    width: 10%;
    padding: 10px;
    text-align: center;
    color:#4598f8;
    border: 1px solid var(--medium-gray);
}

.sidebar {
    padding: 15px;
}
.sidebar section {
    margin-bottom: 1rem;
}
.sidebar h3 {
    font-size: 2rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}
/* DISCOVER : GALLERY*/
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre imágenes */
    justify-items: center;
}

.gallery figure {
    text-align: center;
    max-width: 100%;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Opcional, para esquinas redondeadas */
}


}